.angular-google-map-container{
  height: 400px;
  width: 100%;
  border: 10px solid white;
}

#d3BarChart text{
  color: white;
}

@font-face{
  font-family: 'BebaNeue';
  src: url('../fonts/BebasNeue_Regular.ttf') format('truetype');
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 48px;
}

.logo-nav{
  display:flex;
  flex-direction: row;
  align-content: center;
}

nav {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background:url(/images/Map_of_Seattle_1914.jpg);
  height: 100%;
}

.cont {
  margin: 2% 4%;
}

.logo-parent {
  padding: 40px 20px 20px 20px;
}

.logo {
  height: 90px;
  background: url(/images/FremontSFGnew.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 0 ;
}




.sidebar {
  /*height: 400px;*/
  /*background-color:blue;*/
}

.sidebar-height {
  height: 600px !important;
  overflow: scroll;
}

.container {

}

.fremont{
  background: url(/images/Fremonttopimage.jpg);
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 20px 0;
}

.d3chart {
  height: 400px;
  background-color:blue;
  margin: 0 0 40px 0;
}
