<table class="table table-striped table-bordered table-condensed">

<thead>
  <tr>
    <th>Neighborhood</th>
  </tr>
</thead>

<tr>
  <td>Alki</td>
  </tr>
<tr>
  <td>Arbor Heights</td>
  </tr>
<tr>
  <td>Atlantic</td>
  </tr>
<tr>
  <td>Ballard</td>
  </tr>
<tr>
  <td>Beacon Hill</td>
  </tr>
<tr>
  <td>Belltown</td>
  </tr>
<tr>
  <td>Broadview Bitter Lake</td>
  </tr>
<tr>
  <td>Broadway</td>
</tr>
<tr>
  <td>Cedar Park | Meadowbrook</td>
  </tr>
<tr>
  <td>Columbia City</td>
  </tr>
<tr>
  <td>Downtown (Central Business District)</td>
  </tr>
<tr>
  <td>East Queen Anne</td>
  </tr>
<tr>
  <td>Eastlake</td>
</tr>
<tr>
<td>Fairmount Park</td>
  </tr>
<tr>
  <td>Fauntleroy</td>
  </tr>
<tr>
  <td>Fremont</td>
  </tr>
<tr>
  <td>Gatewood</td>
  </tr>
<tr>
  <td>Genesee</td>
  </tr>
<tr>
  <td>Georgetown</td>
  </tr>
<tr>
<td>Green Lake</td>
  </tr>
<tr>
  <td>Haller Lake</td>
  </tr>
<tr>
  <td>Harbor Island</td>
  </tr>
<tr>
  <td>Harrison | Denny Blaine</td>
  </tr>
<tr>
  <td>High Point</td>
  </tr>
<tr>
  <td>Highland Park</td>
  </tr>
<tr>
  <td>Industrial District</td>
  </tr>
<tr>
  <td>Interbay</td>
  </tr>
<tr>
  <td>International District</td>
  </tr>
<tr>
  <td>Laurelhurst | Sand Point</td>
  </tr> 
<tr>
  <td>Leschi</td>
  </tr>
<tr>
  <td>Licton Springs</td>
  </tr>
<tr>
  <td>Lower Queen Anne</td>
  </tr>
<tr>
  <td>Madison Park</td>
  </tr>
<tr>
  <td>Madrona</td>
  </tr>
<tr>
  <td>Magnolia</td>
  </tr>
<tr>
  <td>Mann</td>
  </tr>
<tr>
  <td>Minor</td>
  </tr>
<tr>
  <td>Mountlake</td>
  </tr>
<tr>
  <td>Mt. Baker</td>
  </tr>
<tr>
  <td>North Admiral</td>
  </tr>
<tr>
  <td>North Beach Blue Ridge</td>
  </tr>
<tr>
  <td>North Beacon Hill</td>
  </tr>
<tr>
  <td>North Delridge</td>
  </tr>
<tr>
  <td>North Queen Anne</td>
</tr>
<tr>
  <td>Northgate</td>
  </tr>
<tr>
  <td>Olympia Hills | Victory Heights</td>
  </tr>
<tr>
  <td>Phinney Ridge | Greenwood</td>
  </tr>
<tr>
  <td>Pike Market</td>
  </tr>
<tr>
  <td>Pioneer Square</td>
  </tr>
<tr>
  <td>Portage Bay</td>
  </tr>
<tr>
  <td>Rainier Beach</td>
  </tr>
<tr>
  <td>Ravenna | Bryant</td>
  </tr>
<tr>
  <td>Riverview</td>
  </tr>
<tr>
  <td>Roxhill</td>
  </tr>
<tr>
  <td>Seaview</td>
  </tr>
<tr>
  <td>Seward Park</td>
  </tr>
<tr>
  <td>South Beacon Hill</td>
  </tr>
<tr>
  <td>South Delridge</td>
  </tr>
<tr>
  <td>South Lake Union</td>
  </tr>
<tr>
  <td>South Park</td>
</tr>
</tr>
  <td>Stevens</td>
  </tr>
<tr>
  <td>Sunset Hill</td>
  </tr>
<tr>
  <td>University District</td>
  </tr>
<tr>
  <td>Wallingford</td>
  </tr>
<tr>
  <td>Wedgeview Ridge</td>
  </tr>
<tr>
  <td>West Lake</td>
  </tr>
<tr>
  <td>West Queen Anne</td>
  </tr>
<tr>
  <td>Whittier Heights</td>
  </tr>
<tr>
  <td>Yesler Terrace</td>
  </tr>
</table>